@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student: <Strong>@ViewData["Student"]</Strong></p>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/luciano-duarte-904396237/">LinkedIn</a>
</address>